.book-list {
  width: 80%;
  margin: 50px auto;
  font-family: Montserrat, sans-serif;
}

.book-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10.625rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;
  width: 100%;
  margin: 0 0.063rem 0.938rem 0;
  padding: 2rem 7.438rem 1.625rem 1.688rem;
}
