$azure: #0290ff;
$black-two: #121212;
$display-flex: flex;

header {
  background-color: white;
  display: $display-flex;
  font-family: Montserrat, sans-serif;
  height: 5.938rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  .header-text {
    display: $display-flex;
    align-items: center;
    margin-left: 11rem;
  }

  .header-text > * {
    margin-right: 1.5rem;
  }

  .bookstore-cms {
    color: $azure;
    font-size: 1.875rem;
    font-weight: bold;
  }

  .books {
    color: $black-two;
    font-size: 0.813rem;
    letter-spacing: 1.9px;
  }

  .categories {
    color: $black-two;
    font-size: 0.813rem;
    letter-spacing: 1.9px;
    opacity: 0.5;
  }

  .css-2b097c-container {
    width: 230px;
    border-radius: 4px;
  }

  .oval {
    margin-right: 11rem;
    padding: 0.275rem;
    border: solid 1px #e8e8e8;
    border-radius: 50%;
    margin-bottom: 2px;

    svg {
      width: 1.063rem;
      height: 1.063rem;
      color: $azure;
    }
  }
}
