$azure: #0290ff;
$black-two: #121212;

header {
  background-color: white;
  display: flex;
  font-family: Montserrat, sans-serif;
  height: 5.938rem;
  align-items: center;
  position: relative;
  width: 75rem;
  margin: 0 auto;

  .header-text {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
  }

  .header-text > * {
    margin-right: 1.5rem;
  }

  .bookstore-cms {
    color: $azure;
    font-size: 1.875rem;
    font-weight: bold;
  }

  .books {
    color: $black-two;
    font-size: 0.813rem;
    letter-spacing: 1.9px;
  }

  .categories {
    color: $black-two;
    font-size: 0.813rem;
    letter-spacing: 1.9px;
    opacity: 0.5;
  }

  .oval {
    height: 2.813rem;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;

    svg {
      height: 1.063rem;
      color: $azure;
    }
  }
}
